/* !!! GERAL !!! */

body, html { /*Garante que o layout começa do zero*/
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
  }

  * { /*Todos os elementos terão o mesmo comportamento de box-sizing*/
    box-sizing: border-box;
  }

/* !!! NAVBAR !!! */
  
/* Estilo da navbar, com espaçamento interno e posicionamento */

.navbar {
    padding-top: 20px;              
    padding-bottom: 20px;           
    position: absolute;             
    top: 0;                         
    width: 100%;      
    z-index: 3;             
}

/* Estilo dos links da Navbar */
.navbar-nav .nav-link {
    font-family: "Jura", sans-serif;
    font-weight: 700;
    line-height: 118%;
    letter-spacing: 0%;
    color: #000;
    font-size: 25px;
}

/* Margens específicas por link */

.espacamento-acomodacao {margin-right: 79px;}
.espacamento-locais {margin-right: 64px;}
.espacamento-blog {margin-right: 58px;}
.espacamento-contatos {margin-right: 0;}

  
/* !!! SECÇÃO LIVING AROUND !!! */


.sectionLiving {
    display: flex;
    justify-content: center;            
    align-items: center;                
    height: 100vh;
    background: url('images/Hero.png') no-repeat center center;
    background-size: cover;
    position: relative;
  }
  
.titulo_living {
    position: relative;
    z-index: 2;
    text-align: center;
  }
  
.titulo_living h1 {
    font-family: "Josefin Slab", serif;
    color: white;
    font-size: 85px;
    font-weight: 700;
    line-height: 100%;
  }


/* !!! SECÇÃO HERO !!! */

.sectionHero {
    width: 100%;
    height: 569px;
    position: relative;
    background-color: rgba(180, 155, 44, 0.25); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 87px;
    flex-wrap: wrap;
    gap: 40px;
    box-sizing: border-box;
}
  
/* Linha vertical que divide as duas colunas */
.vertical-divider {
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 50%;
  width: 1px;
  background-color: black;
  transform: translateX(-50%);
  z-index: 1;
}

/* Coluna Esquerda & Direita */

.EsquerdaHero, .DireitaHero {
  width: 575px;
  height: 152px;
}

.EsquerdaHero p {
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  font-size: 43px;
  line-height: 118%;
  letter-spacing: 0.2em;
  color: #000;
  margin: 0;
}

.section-title { /*Título Trabalhos Remotos*/
  font-family: 'Jura', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 118%;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

.decorated-lists {/* Área das listas com cantos decorativos */
  position: relative;
  padding: 40px;
}

.corner {/* Cantos decorativos */ 
  width: 50px;
  height: 50px;
  position: absolute;
  border: 10px solid #000;
}

.top-left {/* Cantos superior esquerdo */
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.bottom-right {/* Canto inferior direito */
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

.lists-container {/* Container das duas listas lado a lado */
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.lists-container ul {/* Estilo das listas */
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Jura', sans-serif;
  font-size: 18px;
  color: #000;
  width: 132px;
  height: auto;
  font-weight: 700;
}


/* !!! SECÇÃO ACOMODAÇÃO !!! */

.sectionAcomodacao {
  width: 100%;
  height: 515px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  flex-direction: row;
}

/* Coluna Esquerda c/ imagem */
.EsquerdaAcomodacao {
  width: 607px;
  height: 515px;
  background-image: url('images/pexels-gya-den-768256-2303781-2.png');
  background-size: cover;
  background-position: center;
}

/* Coluna direita c/ texto & botão descobrir*/
.DireitaAcomodacao {
  flex: 1;
  height: 515px;
  background-color: black;
  color: white;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 186px 60px 60px 60px;
  position: relative;
}

.texto-descobrir {
  width: 360px;
  height: 72px;
  font-family: "Jura", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 118%;
  text-align: center;
  color: white;
  letter-spacing: 0%;
}

.btn-descobrir {
  display: flex;
  width: 309px;
  height: 77px;
  top: 297px;
  left: 270px;
  border: 3px solid white;
  border-radius: 30px;
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-family: 'Jura', sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
  align-items: center;
  justify-content: center;
}



/* !!! SECÇÃO LOCAIS !!! */

.sectionLocais {
  display: flex;
  height: 541px; 
  width: 100%;
  position: relative;
}

/* Coluna Esquerda c/ texto & botão explorar */
.EsquerdaLocais {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: rgba(180, 155, 44, 0.25); 
  text-align: center;
  position: relative;
}

.texto-destinos {
  width: 360px;
  height: 72px;
  font-family: 'Jura', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 118%;
  letter-spacing: 0%;
}

.btn-explorar {
  display: flex;
  width: 309px;
  height: 77px;
  top: 303px;
  left: 205px;
  background-color: transparent;
  color: black;
  text-decoration: none;
  font-weight: 700;
  border: 3px solid black;
  border-radius: 35px;
  font-family: 'Jura', sans-serif;
  font-size: 25px;
  letter-spacing: 0px;
  align-items: center;
  justify-content: center;
}

/* Coluna Direita c/ Imagem */
.DireitaLocais {
  flex: 1;
  background-image: url('images/pexels-thatguycraig000-1546898-2.png');
  background-size: cover;
  background-position: center;
  padding: 40px;
}



/* !!! SECÇÃO BLOG !!! */

.sectionBlog {
  position: relative;
  width: 100%;
  height: 690.51px;
  background-image: url('images/pexels-thepaintedsquare-583848.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.btn-blog { /*botão Blog*/
  display: flex;
  width: 309px;
  height: 77px;
  top: 2748px;
  left: 565px;
  background-color: #1E1E1E;
  color: white;
  text-decoration: none;
  font-weight: 700;
  border-radius: 35px;
  font-family: 'Jura', sans-serif;
  font-size: 25px;
  letter-spacing: 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
}


/* !!! BOTÃO VOLTAR AO TOPO + ICON BOOTSTRAP !!! */

.topo-acomodacao,
.topo-locais,
.topo-blog {/* Icon Voltar ao Topo com botão sobreposto em transparente */
  position: absolute;
  width: 58px;
  height: 58px;
}

/* Posicionamentos específicos de cada botão*/
.topo-acomodacao {top: 424px;left: 756px;}

.topo-locais {top: 445px;left: 22px;}

.topo-blog {
  top: 550px;
  left: 1320px;
  position: absolute;
  z-index: 10;
}

.topo-acomodacao button.btn-voltar-topo, 
.topo-locais button.btn-voltar-topo, 
.topo-blog button.btn-voltar-topo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 2; /* para sobrepôr o ícone */
}


/* !!! FOOTER !!! */

#rodape {
  background-color: black;
  color: white;
  text-align: center;
  padding: 40px 20px;
  font-family: 'Jura', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 118%;
}

.titulo-rodape {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.redes-sociais {
  margin-bottom: 15px;
}

.redes-sociais a {
  color: white;
  margin: 0 10px;
  font-size: 22px;
}

.creditos-rodape {
  font-size: 15px;
  color: white;
  font-weight: 700;
  line-height: 118%;
}



/* !!! RESPONSIVIDADE MOBILE !!! */


@media (max-width: 768px) {

  /*GERAL*/
  .body{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /*SECÇÃO LIVING AROUND - título*/
  .titulo-centralizado h1 {
    font-size: 2.5rem;
  }

  /*NAVBAR*/
  .navbar-collapse {
    background-color: white; 
    padding: 20px;
    border-radius: 10px;
    z-index: 999;
    display: block;
  }

  .navbar-nav .nav-link {
    font-size: 18px;
    margin: 10px 0;
    color: #fff;
  }

  .navbar-nav {
    background-color: transparent; 
    padding: 10px;
    border-radius: 0px;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-toggler i {
    font-size: 24px;  
    color: #fff; 
  }


/* SECÇÃO HERO */
  .sectionHero {
    margin-top: 0;
    flex-direction: column;
    height: auto;
    padding: 40px 20px;
    gap: 30px;
    align-items: center;
    }

  .EsquerdaHero, 
  .DireitaHero {
    width: 100%; 
    max-width: 100%;
    }

  .EsquerdaHero p {
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0.1em;
    width: 100%;
    text-align: center;
    }

  .DireitaHero {
    display: none; /* Oculta a parte direita da secção Hero */
    }


/* SECÇÃO ACOMODAÇÃO */
  .sectionAcomodacao {
    flex-direction: column;
    height: auto;
    padding: 0;
    margin: 0;
    }

  .EsquerdaAcomodacao {
    display: none; /* Oculta a imagem Van do lado esquerdo da secção Acomodação*/
    }

  .DireitaAcomodacao {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 40px 20px;
    justify-content: center;
    }

  .texto-descobrir {
    width: 100%;
    font-size: 24px;
    text-align: center;
    }

  .btn-descobrir {
    margin-top: 20px;
    font-size: 16px;
    padding: 10px 20px;
    }


/* SECÇÃO LOCAIS */
  .sectionLocais {
    flex-direction: column;
    height: auto;
    margin: 0;
    padding: 0;
    }

  .EsquerdaLocais {
    width: 100%;
    padding: 20px 16px;
    }

  .texto-destinos {
    font-size: 24px;
    margin-bottom: 16px;  /* Espaço abaixo do título */
    }

  .btn-explorar {
    padding: 8px 20px;
    font-size: 18px;
    }

  .DireitaLocais {
    display: none; /* Oculta a imagem do lado direito da secção Locais */
    }


/*SECÇÃO BLOG */
  #sectionBlog {
     margin-top: 0px;
    padding: 0px;
    }


/* AJUSTES GERAIS */
  .btn-voltar-topo {
    padding: 8px;
    }

  .btn-blog, .btn-descobrir, .btn-explorar {
    padding: 12px 24px;
    font-size: 16px;
    }

  .topo-acomodacao, .topo-locais, .topo-blog {
    display: none; /* Oculta a função voltar ao topo em mobile */
    }

  .bi-arrow-up-circle {
    display: none; /*Oculta os icons das setas de voltar ao topo em mobile*/
    }

  }