body, html {
    height: 100%;
  }
  


  /* !!! NAVBAR !!! */

  .navbar-nav .nav-link {
    font-family: "Josefin Slab", serif;  /* fonte do texto usada nos links da navbar */
    font-weight: 700;                   /* espessura da fonte */
    font-size: 25px;                    /* tamanho da fonte: 25px */
    line-height: 100%;                  /* Espaçamento entre linhas */
    letter-spacing: 0%;                 /* Espaço horizontal entre cada letra */
    color: #000 !important;           /* cor preta */
  }
  
  .navbar {
    z-index: 3;
    border: none;
  }

  .navbar-toggler {
    z-index: 5;
  }

  .navbar-toggler i {
    font-size: 24px;
    color: #000;
  }

  .navbar-brand {
    font-weight: bold;
  }



/* Margens específicas por link */

.espacamento-acomodacao {
    margin-top: 37px;
    margin-right: 79px;
  }
  
  .espacamento-locais {
    margin-top: 37px;
    margin-right: 64px;
  }
  
  .espacamento-blog {
    margin-top: 37px;
    margin-right: 58px;
  }
  
  .espacamento-contatos {
    margin-top: 37px;
    margin-right: 0; /* último link não precisa de espaçamento à direita */
  }




  /*!!! SECÇÃO HERO !!!*/


  .hero {
    background-image: url('images/pexels-lureofadventure-28365967.png'); /* Substitua pela sua imagem */
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .overlay-titulo {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .titulo-hero{
    color: white;
    font-size: 80px;
    font-family: "Josefin Slab", serif;
    font-weight: 700;
    text-align: center;
  }





  /*!!! SECCÇÃO ALL CARDS !!!*/


  .all-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 20px;
    background: rgba(180, 155, 44, 0.25);
  }

  .card {
    max-height: 660px;
    border-radius: 35px;
    background-color: rgba(217, 217, 217, 1);
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
.card-img-top {
    border-radius: 35px;
    max-width: 533.35px;
    width: 100%;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

  .card-title {
    font-family: Jura;
    font-weight: 700;
    font-size: 30px;
    line-height: 118%;
    letter-spacing: 0%;
    text-align: center;
  }

  .list, .list-title, .card-text, .infotext {
    font-family: Jura;
    font-weight: 700;
    font-size: 20px;
    line-height: 118%;
    letter-spacing: 0%;
  }

  .infotext {
    text-align: center;
    color: black;
    text-decoration: none;
    display: block; 
  }


  /* !!! SECCÇÃO RODAPÉ !!! */


  #rodape {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px 20px;
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 118%;
    letter-spacing: 0%;
  }
  
  .titulo-rodape {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Jura', sans-serif;
  }
  
  .redes-sociais {
    margin-bottom: 15px;
  }
  
  .redes-sociais a {
    color: white;
    margin: 0 10px;
    font-size: 22px;
    transition: color 0.3s ease;
  }
  
  .redes-sociais a:hover {
    color: #ccc;
  }
  
  .creditos-rodape {
    font-size: 15px;
    color: white;
    font-weight: 700;
    line-height: 118%;
    letter-spacing: 0%;
  
  }
  
  


  /* !!! RESPONSIVIDADE MOBILE */

  @media (max-width: 768px) {
    .titulo-hero {
      font-size: 40px;
      padding: 0 20px;
    }
  
    .navbar-nav .nav-link {
        font-size: 18px;
        margin: 10px 0;
        text-align: center;
      }

      .card-title, .list-title, .list, .card-text {
        font-size: 18px;
      }

      .card-img-top {
        max-width: 90%;
      }
    }
